{{playGame.state}}
{{#if (eq playGame.state "nothanged")}}
  {{alive-hangman}}
{{/if}}



{{#unless (eq playGame.state "lost")}}
  {{#if (eq playGame.state "provideWord")}}


    <button {{action 'stickman'}}> Man </button>
    <button {{action 'stickwoman'}}> Woman </button>



    {{input value=playGame.wordRaw}}
    <!-- Start game and check if unallowed characters were used -->
    <button {{action 'startGame'}}> Start Game </button>

    {{pick-hangman}}

    {{#unless playGame.isValid }}
      <p> Special characters and numbers are not allowed </p>
    {{/unless }}

  {{/if}}

  {{#if (eq playGame.state "play")}}

    <!-- Each letter of alphabt as a button -->
    {{#each playGame.letters as |letter|}}

      <button {{action  'clickLetter' letter }}> {{letter}}</button>

    {{/each}}
    
    <!-- Each letter of alphabt as a button -->
    <!-- remainingLives and conditions if Won or Lost -->
    <div>
      {{playGame.gameLost}}
      <p> Untill loss {{playGame.remainingLives}} </p>
    </div>
    <div>
      {{#if (eq playGame.gameWon 0)}}

        {{playGame.hangmanSurvived}}

      {{/if}}
      <p> Untill win {{playGame.gameWon}} </p>
    </div>
    <!-- remainingLives and conditions if Won or Lost -->
    <!-- Word's correctLetters -->
    <div>
      {{playGame.wordSoFar}}
    </div>
    <!-- Word's correctLetters -->
    <!-- Hangman's SVG -->
    {{stickman-1}}

  {{/if}}
  {{else}}
    {{dead-hangman}}
{{/unless}}
