<div class="jumbotron">
<div class="container">
  <div class="header clearfix">
    <h3 class="text-muted">Hangman</h3>
  </div>
</div>

  {{#if (eq playGame.state "nothanged")}}
    {{alive-hangman playGame=playGame}}
  {{/if}}



  {{#unless (eq playGame.state "dead")}}
  {{#if (eq playGame.state "provideWord")}}
    <button class="btn btn-lg btn-success" href="#" role="button"
     {{action 'startGame'}}> Start Game </button>
    <button class="btn btn-lg btn-success" href="#" role="button" {{action 'stickman'}}> Man </button>
    <button class="btn btn-lg btn-success" href="#" role="button" {{action 'stickwoman'}}> Woman </button>

    <!-- Start game and check if unallowed characters were used -->
    <!-- playGame=playGame = model as model, functions are inside model -->
    {{pick-hangman  playGame=playGame}}


  {{/if}}


    {{#if (eq playGame.state "play")}}

      <!-- Each letter of alphabt as a button -->
      <div>
        <div class="letters">
          {{#each playGame.letters as |letter|}}
            <button {{action  'clickLetter' letter }}> {{letter}}</button>
          {{/each}}
        </div>
      </div>
      <!-- Each letter of alphabt as a button -->
      <!-- remainingLives and conditions if Won or Lost -->


      <!-- <div class="progress"> -->
        {{playGame.gameLost  }}
        <div class="loss">
          <p> Untill loss {{playGame.remainingLives }} </p>
        </div>
        <div class="win">
          <p> Untill win {{playGame.gameWon }} </p>
        </div>
      <!-- </div> -->

      <div>

        {{#if (eq playGame.gameWon 0)}}
          {{alive-hangman playGame=playGame}}
          <!-- <button {{action 'playGame'}}>You won!</button> -->

        {{/if}}
        {{#if (eq playGame.remainingLives 0)}}
          {{dead-hangman playGame=playGame}}
          <!-- <button {{action 'replayGame'}}>You lost!</button> -->
        {{/if}}


      </div>
      <!-- remainingLives and conditions if Won or Lost -->
      <!-- Word's correctLetters -->
      <div class="btn btn-lg btn-success">
        {{playGame.wordSoFar}}
      </div>
      <!-- Word's correctLetters -->
      <!-- Hangman's SVG -->
      <!-- <div class="stickman"> -->
        {{stickman-1 playGame=playGame}}
      <!-- </div> -->

    {{/if}}
    {{else}}
      <!-- dead-hangman.hbs used to be here -->
  {{/unless}}
</div>
